[submodule "jina-embeddings-v2-base-en"]
	path = jina-embeddings-v2-base-en
	url = https://huggingface.co/jinaai/jina-embeddings-v2-base-en
[submodule "jina-embeddings-v2-small-en"]
	path = jina-embeddings-v2-small-en
	url = https://huggingface.co/jinaai/jina-embeddings-v2-small-en
[submodule "jina-embedding-v2"]
	path = jinaai/jina-embedding-v2
	url = https://huggingface.co/jinaai/jina-embedding-v2
[submodule "jinaai/jina-bert-implementation"]
	path = jinaai/jina-bert-implementation
	url = https://huggingface.co/jinaai/jina-bert-implementation
